//breakpoints
$min-tablet-breakpoint: 768px;
$max-tablet-breakpoint: 1279px;
$desktop-breakpoint: 1280px;

//font weights
$font-weight-semibold: 600;
$font-weight-regular: 400;

//colours
$primary-text: #13182C;
$secondary-text: #2E66E5;
$background: #FFFFFF;
$secondary-gray: #424958;
$secondary-background: #BDC5D5;
$support-green: #158463;
$support-red: #C94515;